{{left_sidebar_enabled=False;right_sidebar_enabled=False}}
{{extend 'layout.html'}}

    <div class="container marketing">

      <!-- Four columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
          <img class="img-circle" src="{{=URL('static', 'images/robin.jpg')}}" alt="robin" width="140" height="140">
          <h2>Robin Ji</h2>
          <p>Robin is a proud member of the class of 2017.  She moved to California from Shanghai in the 10th grade.  In her spare time, Robin enjoys petting dogs, traveling, and taking pictures of food.
</p>

        </div>
        <div class="col-lg-3">
          <img class="img-circle" src="{{=URL('static', 'images/sophia.jpg')}}" alt="sophia" width="140" height="140">
          <h2>Sophia Li</h2>
          <p>Sophia is super excited to be in the class of 2017! She’s a super dedicated women in the STEM fields, and enjoys doing various STEM-related activites or competitions outside of school. In her free time, she enjoys watching gymnastics, basketball, reading scholarly books, and watching Pixar movies.  </p>
          <!-- Code for a View Details button <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-lg-3">
          <img class="img-circle" src="{{=URL('static', 'images/dory.jpg')}}" alt="dory" width="140" height="140">
          <h2>Dory Shen</h2>
          <p>Dory is a fellow 2017-er. She has been studying Computer Science for two years now and is super excited to continue for a third next year. In her free time, she enjoys cooking new foods, skiing, and exploring new places with her camera.
</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <img class="img-circle" src="{{=URL('static', 'images/iris.jpg')}}" alt="iris" width="140" height="140">
          <h2>Iris Chow</h2>
          <p>Iris is  a member of the class of 2017. She has studied computer science for two years and can't wait to pursue the subject. She is also passionate about promoting women in STEM. In her spare time, she enjoys playing the ukulele/violin, running cross country, and defending wearing socks with sandals.
</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

 <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"> Why We Were Founded</h2>
          <p class="lead">
This website is a product of four computer science students coming together to solve a problem at Miramonte High School.  The problem is the confusion and lack of information surrounding clubs at Miramonte.  We wanted to create a database compiling info about the many awesome clubs that Miramonte students can join. </p> <p class = "lead">

What began as a simple idea for an AP Computer Science project has now transformed into an exciting new endeavor with thrilling possibilities! </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{=URL('static', 'images/group.jpg')}}" alt="group">
        </div>
      </div>
<hr class="featurette-divider">
      <!-- FOOTER -->
