{{left_sidebar_enabled=False;right_sidebar_enabled=False}}
{{extend 'layout.html'}}

    <div class="container">


          <div class="jumbotron">
            <h1>Contact Us!</h1>
              <p>Email <a href = "mailto:clubs.miramonte@gmail.com" > clubs.miramonte@gmail.com </a> for all of your needs and we will respond as quickly as possible!</p>
          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2>For Club Members</h2>
              <p>
                  <ol>
                      <li>Create an account using the Log In button in the top right-hand corner.</li>
                      <li>Select the clubs you wish to join under the "Clubs" heading and click join.</li>
                </ol>
            </p>
              <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>For Club Presidents</h2>
              <p><ol>
                <li>Make an account using the Log In button in the top right-hand corner.</li>
                <li> Within 1-2 days of you creating your account, we will mark you as the president for you club.</li>
                <li> Once you are marked as president, you can update your club's description, email, meeting time and place, and name. You can also upload a photo of your club!</li>
                </ol>
                </p>

            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Want to be featured as club of the month?</h2>
              <p>Please fill out this <a href = "https://goo.gl/forms/YBvJQS1REvMt27lA2" > Google Form</a>!</p>
              <p>The deadline to fill out the form is the 20th of the previous month.</p>

            </div><!--/.col-xs-6.col-lg-4-->

          <!--
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
          -->

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->





        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
