*.pyc
.DS_Store
appadmin.*
generic.*
__init__.py

ABOUT
LICENSE
cron/*
databases/*
errors/*
languages/*
modules/*
private/appconfig.ini
progress.log
routes.example.py
sessions/*
static/*.html
static/css
static/fonts
static/images/facebook.png
static/images/gplus-32.png
static/images/twitter.png
static/js
uploads/*
views/default/user.html
